/* GLOBAL RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000;
  color: white;
  overflow: hidden;
}

/* Variables */
$primary: #22c55e;
$dark: #0f0f0f;

button {
  cursor: pointer;
  border: none;
}