.footer {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px 0;
  transition: 0.4s all ease;

  .toggle {
    cursor: pointer;
    font-size: 18px;
  }

  .content {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
  }
}